[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Sandbox
[access "refs/*"]
	owner = group user/Michal Krawczyk (semihalf-krawczyk-michal)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Michal Krawczyk (semihalf-krawczyk-michal)
	label-Verified = -1..+1 group user/Michal Krawczyk (semihalf-krawczyk-michal)
	push = group user/Michal Krawczyk (semihalf-krawczyk-michal)
	read = group user/Michal Krawczyk (semihalf-krawczyk-michal)
	rebase = group user/Michal Krawczyk (semihalf-krawczyk-michal)
	removeReviewer = group user/Michal Krawczyk (semihalf-krawczyk-michal)
	submit = group user/Michal Krawczyk (semihalf-krawczyk-michal)
[access "refs/heads/*"]
	create = group user/Michal Krawczyk (semihalf-krawczyk-michal)
	push = +force group user/Michal Krawczyk (semihalf-krawczyk-michal)
	pushMerge = group user/Michal Krawczyk (semihalf-krawczyk-michal)
	read = group user/Michal Krawczyk (semihalf-krawczyk-michal)
[access "refs/tags/*"]
	push = group user/Michal Krawczyk (semihalf-krawczyk-michal)
	push = +force group user/Michal Krawczyk (semihalf-krawczyk-michal)
